#Peel {
position: absolute;
top: 20px;
left: 20px;

}

#bdy {
background-image: url(Npss.png); 
width: 100%;
background-blend-mode: soft-light;
position: absolute;
top: 0;
bottom: 0;
left: 0;
right: 0;
z-index: 1;

}
#Fnpss {
margin-bottom: -100px;
margin-top: -100px;
display: block;

}
#Space {
position: relative; 
border:1px solid grey;

}
#Space {
  border-color: red;
  animation-name: border_change;
  animation-duration: 6.5s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
 }


#outlinemove {
  position: relative;
  width: 500px;
  height: 182px;
  border: 5px solid black;
  display: block;
}


#outlinemove {
  border-color: red;
  animation-name: border_change;
  animation-duration: 6.5s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
 }

@keyframes border_change {
  0% {
    border-color: aqua;
  } /*  10% {
    border-color: aqua;
  } 
  15% {
    border-color: magenta;
  }
  20% {
    border-color: red;
  } */
  25% {
  	border-color: orange;
  }
  /*
  30% {
    border-color: green;
  }
  35% {
    border-color: teal;
  }
  40% {
    border-color: fuchsia;
  }
  45% {
    border-color: gold;
  } */
  50% {
    border-color: blue;
  }
  75% {
  	border-color: orange; 
  }
  100% {
    border-color: blue;
  }
}

#Space2 {
position: relative; 
border:1px solid grey;

}
#Space2 {
  border-color: red;
  animation-name: border_changeB;
  animation-duration: 6.5s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
 }

 #Space3 {
position: relative; 
border:1px solid grey;
top: -200px;
}
#Space3 {
  border-color: red;
  animation-name: border_changeB;
  animation-duration: 6.5s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
 }

@keyframes border_changeB {
  0% {
    border-color: aqua;
  } /*
  10% {
    border-color: aqua;
  } 
  15% {
    border-color: magenta;
  }
  20% {
    border-color: red;
  } */
  25% {
    border-color: orange;
  }
  /*
  30% {
    border-color: green;
  }
  35% {
    border-color: teal;
  }
  40% {
    border-color: fuchsia;
  }
  45% {
    border-color: gold;
  } */
  50% {
    border-color: blue;
  }
  75% {
    border-color: orange; 
  }
  100% {
    border-color: blue;
  }
}




  #GGC {
    text-align: left;

  }
  #btn    {
object-position:bottom; ;
position: absolute;
    left: 35px;
    right: 0px;
    top: 0px;
    bottom: 50px;
    height: 50px;


  }

  li {
  list-style-type: none;
  position: absolute;
  padding-left: 25px;
  list-style-position: left;
}

li:before {
  content: "\25BA \0020";
  font-size: 16px;
  position: absolute;
  top: 15px;
  left: -20px;
}

ul  {
 padding-right: :0;   
}
ul li  {
 list-style-position:inside;
}

#AllannDetails {
height: 534px;
bottom: 10px;
left: 400px;
width: 900px;
line-height: 15px;
object-position: center;
position: fixed;


}

#annDetails {
height: 375px;
bottom: 1px;
left: 420px;
top: 100px;
width: 850px;
line-height: 15px;
object-position: center;
position: absolute;
z-index: 1;
overflow-y:hidden;


}
/* Information Picture */
#Infotg {
height: 120px;
width: 120px;
z-index: 1;
top: 0;
left: -50;
padding-top: 1px;

}
/* The sidebar menu */
.sidenav {
  height: 100%; 
  width: 120px; 
  position: fixed; 
  z-index: 1; 
  top: 0; 
  left: 0;
  background-color: #111; 
  overflow-x: hidden;
  padding-top: 20px;
}


.sidenav a {
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
}


.sidenav a:hover {
  color: #f1f1f1;
}


.main {
  margin-left: 160px; 
  padding: 0px 10px;


}


@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}

#sdb {
  position: relative;
left: -10px;

}

#ViewTable {
position: relative; 
left: -30px;

}

#Tannouncement {
position: center;
overflow: hidden;
text-overflow: ellipsis;
width: 500px;
height: 200px;
font-size: 14pt;
word-wrap: break-word;

}

#logout1 {
position: relative;
left: -3px;
bottom: -18px;
}

#TeacherAnnouncement {
  hyphens: auto;
  border-left: 1000px;
  width: 600px;
  color:white;
  position: relative;
  display: inline-block;
  word-break: break-word;
}
#TeacherGrade {
  width: 150px;
  color:white;
  }
#TeacherGender {
  width: 150px;
  color:white;

}
#TeacherClub {
  width: 500px;
 color:white;
 position: relative;
 
}
#Twii {

position: absolute;
padding-top: -50px;
padding-bottom: 20px;
padding-left: 20px;
padding-right: 20px;
left: -15px;
top: 150px;
}

#Twii2  {
position: absolute;
padding-top: -50px;
padding-bottom: 20px;
padding-left: 20px;
padding-right: 20px;
left: 1100px;
top: 150px;
}
#button1 {
position: absolute;
left: 500px;
bottom: 430px;
}